<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Greet</display-name>
    <servlet-name>Greet</servlet-name>
    <servlet-class>och06.Greet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Greet</servlet-name>
    <url-pattern>/Greet</url-pattern>
  </servlet-mapping>
  <display-name>och06</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Greet2</display-name>
    <servlet-name>Greet2</servlet-name>
    <servlet-class>och06.Greet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Greet2</servlet-name>
    <url-pattern>/Greet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fibonazzi</display-name>
    <servlet-name>Fibonazzi</servlet-name>
    <servlet-class>Fibonazzi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fibonazzi</servlet-name>
    <url-pattern>/Fibonazzi</url-pattern>
  </servlet-mapping>
</web-app>